<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onlineexam.dao.ScoreDao">


    <select id="countScores" resultType="java.lang.Integer">
        select count(*) from exam where state='已结束'
    </select>
    <select id="showAllScore" resultType="com.onlineexam.entities.Score">
        select * from exam where state='已结束'
    </select>

    <select id="getExamInfoByExamId" resultType="com.onlineexam.entities.UserScore">
        SELECT * from score where exam_id=#{examId}
    </select>
    <select id="getUserScore" resultType="com.onlineexam.entities.UserScore">
        select * from score where exam_id=#{examId} and email=#{email}
    </select>
    <select id="getExamName" resultType="java.lang.String">
        select name from exam where exam_serial_number=#{examId}
    </select>
    <select id="getNumberOfPeople" resultType="java.lang.Integer">
        select number_of_people from exam where exam_serial_number=#{examId}
    </select>
    <select id="getRank" resultType="java.lang.Integer">
        SELECT rownum
        from
            (select @rownum:=@rownum+1 AS rownum,email
             from
                 score,(SELECT @rownum:=0) r
             ORDER BY score DESC)b
        where email=#{email}
    </select>
    <select id="getAnswer" resultType="java.lang.String">
        select correct_option from answer where question_id=#{id}
    </select>
    <select id="getReport" resultType="com.onlineexam.entities.Report">
        SELECT rank,email,score,name
        from
            (select @rank:=@rank+1 AS rank,email,score,name
             from
                 score,(SELECT @rank:=0) r
             WHERE exam_id=#{examId}
             ORDER BY score DESC)b
    </select>
    <select id="getUserAnswer" resultType="java.lang.String">
        select answer from examination_paper where question_id=#{param1} and email=#{param2} and exam_id=#{param3}
    </select>

</mapper>