<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onlineexam.dao.ExamDao">

    <insert id="submit">
        insert into examination_paper(email, exam_id, question_id, answer) values (#{email},#{examId},#{param1},#{param2})
    </insert>
    <insert id="submitScore">
        insert into score(exam_id, email, score,sum_score) VALUES (#{examId},#{email},#{param3},#{param4})
    </insert>
    <insert id="addExamQuestion">
        insert into exam_question(exam_serial_number, question_id) values (#{param1},#{param2})
    </insert>
    <insert id="addExam">
        insert into exam(exam_serial_number, name, duration, start_time, creator, state,creation_time)
        VALUES (#{param1},#{param2},#{param3},#{param4},#{param5},#{param6},#{param7})
    </insert>


    <update id="updateExam">
        update exam set name=#{param1} where id=#{param2}
    </update>
    <update id="updateTotal">
        update exam set total_points=#{param2} where exam_serial_number=#{param1}
    </update>
    <update id="updateStateToUnderway">
        update exam set state='进行中' where id=#{exam_serial_number}
    </update>
    <update id="updateExamStateToFinish">
        update exam set state='已结束' where id=#{exam_serial_number}
    </update>
    <select id="showAllExam" resultType="com.onlineexam.entities.Exam">
        select * from exam
    </select>
    <select id="countExams" resultType="java.lang.Integer">
        select COUNT(*) from exam
    </select>
    <select id="showExamByUser" resultType="com.onlineexam.entities.Exam">
        select * from exam,user where user.username=exam.creator
                                         and user.email=#{email}
    </select>
    <select id="showExamQuestion" resultType="java.lang.Integer">
        select question_id from exam_question where exam_serial_number=#{serialNumber}
    </select>
    <select id="showExamTime" resultType="java.util.Date">
        select start_time from exam where exam_serial_number=#{examId}
    </select>
    <select id="getUserName" resultType="java.lang.String">
        select username from user where email=#{email}
    </select>
    <select id="countMyExam" resultType="java.lang.Integer">
        select COUNT(*) from exam,user where user.username=exam.creator
                                         and user.email=#{email}
    </select>
    <select id="countMyCreatedExam" resultType="java.lang.Integer">
        select count(*) from exam,user where username=creator and email=#{email}
    </select>
    <select id="showMyCreatedExam" resultType="com.onlineexam.entities.Exam">
        select * from exam,user where user.username=exam.creator and user.email=#{email}
    </select>
    <select id="countMyJoinExam" resultType="java.lang.Integer">
        select count(*) from score where email=#{email}
    </select>
    <select id="showMyJoinExam" resultType="com.onlineexam.entities.UserScore">
        select * from score where email=#{email}
    </select>
    <select id="getQuestionId" resultType="java.lang.Integer">
        select id from question where question_body=#{questionBody}
    </select>
    <select id="getQuestionScore" resultType="java.lang.Integer">
        select score from question where id=#{id}
    </select>
    <select id="getExamById" resultType="com.onlineexam.entities.Exam">
        select * from exam where exam_serial_number=#{examId}
    </select>
    <select id="getAllTime" resultType="com.onlineexam.entities.ExamState">
        select * from exam
    </select>
</mapper>